.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(145deg, #1d1e2e, #393759);
  /* Dark gradient background */
  color: #fff;
  /* Adjusted for better readability */
  font-family: 'Open Sans', sans-serif;
  padding-top: 100px;
}

.logo {
  width: 250px;
  left: -50px;
  position: relative;
}

.panel {
  width: 250px;
  /* Adjust width as needed */
  background: linear-gradient(145deg, #1d1e2e, #393759);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
  /* Adjust padding as needed */
  box-sizing: border-box;
}

.about-us,
.get-started {
  color: #fff;
  display: flex;
  /* Use flexbox to center align content */
  flex-direction: column;
  /* Stack content vertically */
  justify-content: left;
  /* Center content vertically */
  align-items: left;
  /* Center content horizontally */
  margin-bottom: 20px;
  /* Add margin between sections */
  padding: 20px;
  /* Add padding to create space inside the box */
  border: 2px solid #fff;
  /* Add border around the sections */
  border-radius: 8px;
  /* Add border radius for rounded corners */
  background-color: #307473;
  /* Background color of the "button" */
  text-align: left;
  /* Center align text */
  cursor: pointer;
  /* Show pointer cursor on hover */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

.about-us h2,
.get-started h2 {
  margin-top: 0;
  /* Remove default margin */
  margin-bottom: 0;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  /* Added margin to lower the text boxes */
  margin-bottom: 30px;
}

.personal-info input,
.mood-input textarea,
.personal-info select {
  width: 300px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #3a5060;
  /* Adjusted for visibility */
  background-color: #34495e;
  /* Darker input background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Optional: Added box-shadow */
  color: #fff;
  /* Text color for inputs */
  border-radius: 8px;
  font-family: inherit;
  text-align: left;
  font-size: 16px;
  /* Increased font size for vividness */
  font-weight: bold;
  /* Bold font for vividness */
}

.personal-info select {
  width: 327.63px;
  /* Adjust width to match input areas */
}

select option[value=""][disabled] {
  color: #ccc;
}

.mood-input {
  display: flex;
  justify-content: center;
}

.mood-input textarea {
  width: 300px;
  padding: 12px;
  margin-top: 30px;
  height: 100px;
  /* Larger area for mood description */
}

.recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  /* Centered content */
  max-height: 500px;
  overflow-y: auto;
  margin: auto;
  padding: 20px;
  background-color: #34495e;
  /* Slightly lighter than input backgrounds for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  border-radius: 16px;
  /* Rounded corners for cards */
  color: #fff;
  /* Adjusted for better readability */
}

.recommendation-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.artist,
.number,
.song {
  text-align: center;
  margin: 0 10px;
  color: #fff;
  /* Adjusted for better readability */
}

button {
  padding: 12px 20px;
  background-color: #307473;
  /* Vibrant accent color */
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /* Smooth transition for button */
}

button:hover {
  background-color: #408a8b;
  /* Slightly lighter on hover */
}

.inner {
  text-align: center;
}

@media (max-width: 768px) {
  .App-header {
    padding-top: 50px;
    /* Less space at the top on smaller screens */
  }

  .personal-info input,
  .personal-info select,
  .mood-input textarea,
  .artist,
  .number,
  .song {
    width: 90%;
    /* Responsive width on smaller screens */
  }
}