.spotify-main-wrapper {
  padding-top: 45px;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 60%;
  z-index: 1;
  background-color: #33b8b3;
}

.spotify-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.spotify-main-container {
  flex: 1;
}

.container3 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-text {
  color: #b0d3e3;
  font-family: "Arial";
}

.now-playing__name {
  font-size: 1.1em;
  color: #e8f0f3;
  text-align: center;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
  color: #e8f0f3;
  width: 100%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing__cover {
  border-radius: 8px;
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 500px;
  height: 500px;
}

.now-playing__side {
  margin-right: 15%;
  width: 98%;
  background-color: rgb(63, 9, 117);
  border-radius: 20px;
}

.btn-spotify {
  background-color: #33b8b3;
  border-radius: 28px;
  border: 1px solid #33b8b3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #dae9eb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #33b8b3;
  text-align: center;
}

.btn-spotify:active {
  position: relative;
  background-color: #33b8b3;
  top: 1px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}